#gifts {
  text-align: center;
  padding-bottom: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#gift-card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 70%;
  justify-items: center;
  margin-top: 33px;
}
.gift-card {
  width: 200px;
  height: 247px;
  border-radius: 12px;
  box-shadow: 0px 4px 24px 0px rgba(48, 29, 30, 0.1);
  text-align: left;
  padding: 30px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 40px;
  margin-bottom: 40px;
  cursor: pointer;
}
.gift-card-title {
  font-size: 20px;
  margin-bottom: -10px;
}
.gift-card-subtitle {
  font-size: 14px;
  color: var(--gray-color);
}
.gift-card-image {
  width: 120px;
  height: 120px;
}
.gift-card-heart {
  width: 20px;
  height: 20px;
  position: relative;
  left: 90px;
}
.gift-card-text {
  width: 100%;
}
