:root {
  --gray-color: #5d5656;
  --black-color: #282525;
  --red-color: #dc3845;
  --text-size: 16px;
  font-family: "Poppins", sans-serif;
}

.link {
  text-decoration: none;
  color: var(--black-color);
  font-size: var(--text-size);
}
.text {
  font-size: var(--text-size);
}
.title {
  font-size: 24px;
}
