header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: auto;
}
#logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
#logo > .text {
  font-weight: 500;
}

#nav-list {
  display: flex;
  list-style-type: none;
  flex-direction: row;
}
#nav-list .link {
  margin-left: 40px;
}

.link--red {
  color: var(--red-color);
  font-weight: 500;
}
#theme-button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
