#merry-christmas {
  display: flex;
  align-items: center;
  justify-content: right;
  padding-bottom: 56px;
  padding-top: 64px;
  width: auto;
}

#button-text {
  color: #fff;
}
#merrry-christmas-text {
  color: var(--gray-color);
}
.merry-christmas-article {
  width: 40%;
}
